.black-container{
    width:600px;
    height:500px;
    background: linear-gradient(to bottom, rgb(0, 0, 18) 50%, lightgray 50%);

}
.box {
    position:relative;
    width:550px;
    height:475px;
    margin: auto;
    background-color: white;
    padding-left:10px;

}

h1{
    /* align-items: center; */
    padding-left: 55px;
}

.large {
    font-size: 60px;
    color: rgb(26,32,44);
  }

  .medium {
    font-size: 40px;
    color: rgb(117,117,117);
  }

  .small {
    font-size: 40px;
  }

.strike{
    color: rgb(117,117,117);
}


.btn{
    position: absolute;
    left:80px;
    /* text-align: center; */
    
    

}

.enroll{
    display: block;
    padding-left:50px;
    width:400px;
    height:70px;
    border-radius: 12px;
    background-color: rgb(102,70,230);
    border: none;
    color: white;
    font-size: 30PX;
    text-align: center;
}
.talk{
    
    display: block;
    padding-left:50px;
    width:400px;
    height:70px;
    border-radius: 12px;
    border: 1px solid rgb(102,70,230);  
    background-color: rgb(249,242,255);
    color: rgb(102,70,230);
    font-size: 30PX;
    text-align: center;
}

.bottom-text{

    position: absolute;
    Top: 260px;
    left:100px;
    font-size: 35px;
    display: flex;
    gap: 100px;
    color: rgb(0,0,0);
    text-decoration: underline;
}